    <footer class="footer">
        <div class="footer-mobile d-md-none">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-5 ">
                        <div class="grid-box">
                            <h2 class="grid-box-headline">questions?</h2>
                            <div class="gird-box-content">
                                <a href="#" class="content-link">Help</a>
                                <a href="#" class="content-link">Track Order</a>
                                <a href="#" class="content-link">Returns</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="grid-box">
                            <h2 class="grid-box-headline">What's In Store</h2>
                            <div class="gird-box-content">
                                <a href="#" class="content-link">Women</a>
                                <a href="#" class="content-link">Men</a>
                                <a href="#" class="content-link">Product A-Z</a>
                                <a href="#" class="content-link">Buy Gift Vouchers</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 follow-us">
                        <div class="grid-box">
                            <h2 class="grid-box-headline">Follow Us</h2>
                            <div class="gird-box-content">
                                <a href="#" class="content-link">Facebook</a>
                                <a href="#" class="content-link">Twitter</a>
                                <a href="#" class="content-link">YouTube</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="copyright copyright-mobile">&#169;2016 shopmate</p>
            </div>
        </div>
        <div class="footer-full-size d-none d-md-block">
            <div class="container-fluid justify-content-center d-flex">
                <ul class="footer-menu d-flex justify-content-between">
                    <li class="footer-menu-item"><a href="#" class="footer-menu-item-link">women</a></li>
                    <li class="footer-menu-item"><a href="#" class="footer-menu-item-link">men</a></li>
                    <li class="footer-menu-item"><a href="#" class="footer-menu-item-link">kids</a></li>
                    <li class="footer-menu-item"><a href="#" class="footer-menu-item-link">shoes</a></li>
                    <li class="footer-menu-item"><a href="#" class="footer-menu-item-link">brands</a></li>
                </ul>
            </div>
            <div class="container-fluid justify-content-center d-flex">
                <div class="footer-icon d-flex justify-content-between">
                    <a href="#" class="item-link instagram"><i class="fab fa-instagram item-link-icon"></i></a>
                    <a href="#" class="item-link pinterest"><i class="fab fa-pinterest item-link-icon"></i></a>
                    <a href="#" class="item-link twitter"><i class="fab fa-twitter item-link-icon"></i></a>
                    <a href="#" class="item-link facebook"><i class="fab fa-facebook-f item-link-icon"></i></a>
                </div>
            </div>

            <p class="copyright text-center d-flex align-items-center justify-content-center">
                &#169;2016 shopmate Ltd <i class="fas fa-circle"></i> Contact <i class="fas fa-circle"></i> Privacy policy
            </p>
        </div>
    </footer>
    <script src="js/bundle.js"></script>
  </body>
</html>