<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="shortcut icon" href="favicon/favicon.ico"/>
    <link rel="stylesheet" href="css/style.bundle.css"/>
    <title><%=title%></title>
</head>
<body>
<header class="header">
    <div class="container-fluid top-line d-none d-md-block">
        <div class="row justify-content-between top-line-wrap">
            <div class="col-md-3 register">
                <p class="entrance">
                    Hi! <a href="#" class="entrance-sign-in">Sign in</a> or<a href="#" class="entrance-register">Register</a>
                </p>
            </div>
            <div class="col-md-5 top-middle-nav d-flex justify-content-start">
                <div class="top-middle-nav-wrap ">
                    <a href="#" class="top-middle-nav__link">Daily Deals</a>
                    <a href="#" class="top-middle-nav__link">Sell</a>
                    <a href="#" class="top-middle-nav__link">Help &#38; contact</a>
                </div>
            </div>
            <div class="right-box__country col-md-1">
                <img src="img/flag.jpg" alt="qqq">
                <a href="#" class="right-box__country">&#163; GBP</a>
            </div>
            <div class="right-box__bag col-md-3 d-flex justify-content-end">
                <a href="#" class="right-box__bag-text">
                    <i class="fas fa-shopping-bag cart"></i>
                    <span class="badge badge-danger top-line-badge">1</span>
                    Your bag: &#163;<span class="top-line-price">3.99</span>
                </a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid header-nav-wrap ">
            <a class="navbar-brand" href="#">shopmate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav col-md-6 justify-content-between">
                    <li class="nav-item active">
                        <a class="nav-link " href="#">women <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">men</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">kids</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">shoes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">brands</a>
                    </li>
                </ul>
                <div class="form-menu col-lg-5 d-none d-lg-block">
                    <form class="form-inline my-2 my-lg-0 form-header">
                        <button class="btn btn-outline-success my-2 my-sm-0 btn-search" type="submit"><i class="fas fa-search"></i></button>
                        <input class="input-menu mr-sm-2" placeholder="search anything">
                        <button class="btn-wipe"><i class="fas fa-times"></i></button>
                    </form>
                </div>
                <div class="col-md-1 bag-menu justify-content-end d-none d-lg-flex">
                    <a href="#" class="right-box__bag-text bag-menu-right">
                        <i class="fas fa-shopping-bag"></i>
                        <span class="badge top-line-menu-badge top-line-badge">1</span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>




