<% var data = {
title: "Turing | Home Page"
}; %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<section class="container-fluid mens-wear d-none d-md-block">
    <div class="mens-wear-wrap"></div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="menu-left">
                    <div class="menu-left-filter">
                        <h3>Filter 486 items</h3>
                        <div class="menu-left-filter-categories">
                            <p>
                                <i class="fas fa-times menu-left-filter-remove"></i>
                                <span class="menu-left-filter-category">Gender:</span>
                                Women
                            </p>
                            <p>
                                <i class="fas fa-times menu-left-filter-remove"></i>
                                <span class="menu-left-filter-category">Category:</span>
                                Dresses
                            </p>
                        </div>
                    </div>
                    <div class="menu-left-categories">
                        <div class="menu-left-categories-color">
                            <h3>Color</h3>
                            <div class="d-flex align-items-center">
                                <div class="menu-left-categories-color-selected">
                                    <div class="menu-left-categories-color-item menu-left-categories-color-item-blue"></div>
                                </div>
                                <div class="menu-left-categories-color-item menu-left-categories-color-item-aqua"></div>
                                <div class="menu-left-categories-color-item menu-left-categories-color-item-pink"></div>
                                <div class="menu-left-categories-color-item menu-left-categories-color-item-orange"></div>
                                <div class="menu-left-categories-color-item menu-left-categories-color-item-yellow"></div>
                                <div class="menu-left-categories-color-item menu-left-categories-color-item-green"></div>
                                <div class="menu-left-categories-color-item menu-left-categories-color-item-purple"></div>
                            </div>
                        </div>
                        <div class="menu-left-categories-size">
                            <h3>Size</h3>
                            <div class="d-flex flex-wrap align-items-center">
                                <div class="menu-left-categories-size-item">
                                    XS
                                </div>
                                <div class="menu-left-categories-size-selected menu-left-categories-size-item">
                                    S
                                </div>
                                <div class="menu-left-categories-size-item">
                                    M
                                </div>
                                <div class="menu-left-categories-size-item">
                                    L
                                </div>
                                <div class="menu-left-categories-size-item">
                                    XL
                                </div>
                            </div>
                        </div>
                        <div class="menu-left-categories-range">
                            <h3>Price range</h3>
                            <div class="menu-left-categories-range-lines">
                                <div class="menu-left-categories-range-line"></div>
                                <span class="dot dot-first"><i class="fas fa-circle"></i></span>
                                <span class=" dot dot-second"><i class="fas fa-circle"></i></span>
                                <div class="menu-left-categories-range-selected"></div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h4>£4</h4>
                                <h4>£28</h4>
                            </div>
                        </div>
                        <div class="menu-left-categories-brand">
                            <h3>Brand</h3>
                            <div class="menu-left-categories-brand-checkboxes">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <span class="checkmark"></span>
                                        Abercrombie & Fitch
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <span class="checkmark"></span>
                                        Adidas Originals
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <span class="checkmark"></span>
                                        ASOS
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <span class="checkmark"></span>
                                        Cheap Monday
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <span class="checkmark"></span>
                                        Cheap Monday
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <span class="checkmark"></span>
                                        Diesel
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <span class="checkmark"></span>
                                        Ellesse
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                        <span class="checkmark"></span>
                                        Fred Perry
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu-left-confirm d-flex justify-content-between align-items-center">
                        <button class="menu-left-confirm-button">Apply</button>
                        <p class="menu-left-confirm-clear">
                            <i class="fas fa-times clear-all"></i>
                            <span class="menu-left-confirm-clear-label">Clear All</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col product">
                <div class="row">
                    <div class="col-xl-4 col-lg-6  col-12 d-none d-md-flex">
                        <div class="product-card text-center">
                            <div class="product-card-img">
                                <img src="img/t-shirt1.png" alt="">
                            </div>
                            <div class="product-card-title">
                                <p>Men's Knitwear Offers</p>
                            </div>
                            <button class="menu-left-confirm-button add-to-cart">Buy now</button>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-12 d-none d-md-flex">
                        <div class="product-card">
                            <div class="product-card-img">
                                <img src="img/t-shirt2.png" alt="">
                            </div>
                            <div class="product-card-title">
                                <p>Men's Knitwear Offers</p>
                                <div class="product-card-price">
                                    <span>£14.99</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="menu-left-categories-color-selected">
                                        <div class="menu-left-categories-color-item menu-left-categories-color-item-blue"></div>
                                    </div>
                                    <div class="menu-left-categories-color-item menu-left-categories-color-item-aqua"></div>
                                    <div class="menu-left-categories-color-item menu-left-categories-color-item-pink"></div>
                                </div>
                            </div>
                            <div class="product-card-info text-center">
                                <div class="product-card-info-content">
                                    <i class="far fa-heart"></i>
                                </div>
                                <button class="menu-left-confirm-button">Quick view</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6  col-12 d-none d-md-flex">
                        <div class="product-card text-center">
                            <div class="product-card-from-title">
                                <p>Men's Shirts Offers</p>
                            </div>
                            <div class="product-card-img">
                                <img src="img/t-shirt2.png" alt="">
                            </div>
                            <div class="product-card-content">
                                From £4.99
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6  col-12 d-none d-md-flex">
                        <div class="product-card text-center">
                            <div class="product-card-img">
                                <img src="img/t-shirt3.png" alt="">
                            </div>
                            <div class="product-card-title product-card-title-top">
                                <p>New Look T-Shirt In Gradient Fade</p>
                            </div>
                            <div class="product-card-content">
                                £14.99
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6  col-12 d-none d-md-flex">
                        <div class="product-card text-center">
                            <div class="product-card-img">
                                <img src="img/t-shirt4.png" alt="">
                            </div>
                            <div class="product-card-title">
                                <p>Novelty T-shirts</p>
                            </div>
                            <button class="menu-left-confirm-button add-to-cart">Buy now</button>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6  col-12 d-none d-md-flex">
                        <div class="product-card">
                            <div class="product-card-img">
                                <img src="img/t-shirt5.png" alt="">
                            </div>
                            <div class="product-card-title">
                                <p>Various T-shorts</p>
                                <div class="product-card-price">
                                    <span>£14.99</span>
                                </div>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="menu-left-categories-color-selected">
                                        <div class="menu-left-categories-color-item menu-left-categories-color-item-blue"></div>
                                    </div>
                                    <div class="menu-left-categories-color-item menu-left-categories-color-item-aqua"></div>
                                    <div class="menu-left-categories-color-item menu-left-categories-color-item-pink"></div>
                                </div>
                            </div>
                            <div class="product-card-info text-center">
                                <div class="product-card-info-content">
                                    <i class="far fa-heart"></i>
                                </div>
                                <button class="menu-left-confirm-button">Quick view</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-6  col-12 d-none d-md-flex">
                <div class="product-card text-center">
                    <div class="product-card-img">
                        <img src="img/t-shirt6.png" alt="">
                    </div>
                    <div class="product-card-title product-card-title-top">
                        <p>Pull&Bear Jumper In Textured Knit In Blue</p>
                    </div>
                    <div class="product-card-content">
                        £14.99
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6  col-12 d-none d-md-flex">
                <div class="product-card">
                    <div class="product-card-img">
                        <img src="img/t-shirt5.png" alt="">
                    </div>
                    <div class="product-card-title">
                        <p>Harajuku T-shirt</p>
                    </div>
                    <div class="product-card-info">
                        <div class="product-card-info-title">
                            <a href="#">
                                <p>Harajuku T-shirt</p>
                                <div class="product-card-info-price">
                                    <span>£14.99</span>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="menu-left-categories-color-selected">
                                <div class="menu-left-categories-color-item menu-left-categories-color-item-blue"></div>
                            </div>
                            <div class="menu-left-categories-color-item menu-left-categories-color-item-aqua"></div>
                            <div class="menu-left-categories-color-item menu-left-categories-color-item-pink"></div>
                        </div>
                        <div class="text-center product-card-info-inputs">
                            <select class="product-card-info-select select">
                                <option value="1">S</option>
                                <option value="2">M</option>
                                <option value="3">L</option>
                                <option value="4">XL</option>
                                <option value="5">XXL</option>
                            </select>
                            <button class="menu-left-confirm-button add-to-cart">Buy now</button>
                        </div>
                        <div class="product-card-info-wishlist">
                            <i class="far fa-heart"></i>
                            <span>Add to Wish List</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6  col-12">
                <div class="product-card">
                    <div class="product-card-img">
                        <img src="img/t-shirt7.png" alt="">
                    </div>
                    <div class="product-card-title">
                        <p>Men Casual Lizard</p>
                        <div class="product-card-price">
                            <span>£14.99</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="menu-left-categories-color-selected">
                                <div class="menu-left-categories-color-item menu-left-categories-color-item-blue"></div>
                            </div>
                            <div class="menu-left-categories-color-item menu-left-categories-color-item-aqua"></div>
                            <div class="menu-left-categories-color-item menu-left-categories-color-item-pink"></div>
                        </div>
                    </div>
                    <div class="product-card-info text-center">
                        <div class="product-card-info-content">
                            <i class="far fa-heart"></i>
                        </div>
                        <button class="menu-left-confirm-button">Quick view</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination d-md-none">
            <div class="container-fluid d-flex justify-content-center align-items-center">
                <p class="pagination-page">Page</p>
                <a href="#" class="pagination-number-page">1 <i class="fas fa-chevron-right arrow-bottom"></i></a>
                <span class="max-page">of 9</span>
                <a href="#" class="previous-page pagination-nav-box"><i class="fas fa-chevron-right arrow-left"></i></a>
                <a href="#" class="next-page pagination-nav-box"><i class="fas fa-chevron-right"></i></i></a>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid mens-wear bottom-banner d-none d-md-block">
    <div class="bottom-banner-converse mens-wear-wrap"></div>
</section>
<section class="subscribe d-none d-md-flex">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 col-xl-7">
                <div class="subscribe-box">
                    <p class="subscribe-box-text">subscribe for shop news, updates and special offers</p>
                </div>
            </div>
            <div class="col-md-10 col-xl-5 col-lg-7">
                <div class="subscribe-right-box">
                    <div class="d-flex justify-content-center">
                        <form class="subscribe-form">
                            <i class="far fa-envelope subscribe-form-icon"></i>
                            <input type="email" placeholder="Your e-mail here" class="subscribe-form-input">
                        </form>
                        <button class="subscribe-form-btn">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>