$font-basic: 'Basic', sans-serif;
$font-open-sans: 'OpenSans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$red: #f62f5e;

.menu-left {
  font-size: 0.4375rem;
  border: 1px solid #eceaea;

  &-filter {
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    padding: 38px 30px 28px 40px;
    border-bottom: 2px solid #eceaea;

    & h3, &-remove {
      font-weight: 700;
      color: #2e2e2e;
      font-family: $font-basic;
    }

    &-remove {
      margin-right: 6px;
    }

    & h3 {
      letter-spacing: 3.5px;
      margin-bottom: 39px;
      font-size: 0.935rem;
      line-height: 1.5;
    }

    &-category {
      color: #a6a6a6;
      font-family: $font-basic;
      font-weight: 300;
      letter-spacing: 1.6px;
    }

    & p {
      font-weight: normal;
      color: #6c6c6c;
      margin-bottom: 10px;
      font-family: $font-basic;
      margin-left: 11px;
      font-size: 0.75rem;
    }
  }

  &-categories {
    padding-left: 39px;
    padding-right: 24px;
    padding-top: 57px;
    background-color: #fff;

    & h3 {
      color: #b4b4b4;
      font-size: 1rem;
      font-family: $font-montserrat;
      font-weight: 700;
      line-height: 1.5;
    }

    &-color {
      & h3 {
        margin-bottom: 19px;
      }

      &-selected {
        margin-right: 16px;
        padding: 8px;
        border: 1px solid #a6a6a6;
        border-radius: 50%;
        margin-left: -1px;
      }

      &-item {
        border-radius: 50%;
        width: 28px;
        height: 28px;
        margin-right: 26px;

        &-blue {
          background-color: #6eb2fb;
        }

        &-aqua {
          background-color: #00d3ca;
        }

        &-pink {
          background-color: $red;
        }

        &-orange {
          background-color: #fe5c07;
        }

        &-yellow {
          background-color: #f8e71c;
        }

        &-green {
          background-color: #7ed321;
        }

        &-purple {
          background-color: #9013fe;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-size {
      margin-top: 32px;

      & h3 {
        margin-bottom: 34px;
      }

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        margin-right: 14px;
        font-size: 0.75rem;
        color: #6c6c6c;
        width: 110px;
        height: 48px;
        border-radius: 2px;
        background-color: #efefef;
        margin-left: 1px;
      }

      &-selected {
        background-color: $red;
        color: #fff;
      }
    }

    &-range {
      margin-top: 31px;

      & h3 {
        margin-bottom: 19px;
      }

      &-lines {
        position: relative;
        margin-bottom: 25px;
        padding-top: 8px;

        & .dot {
          position: absolute;
          top: -5px;
          z-index: 2;
          font-size: 0.5rem;
          color: $red;
          border: 5px solid #fff;
          border-radius: 50%;

          &-first {
            left: 9%;
          }

          &-second {
            left: 70%;
          }
        }
      }

      &-line {
        width: 100%;
        height: 8px;
        border-radius: 3px;
        background-color: #efefef;
      }

      &-selected {
        margin-left: 12%;
        position: absolute;
        top: 8px;
        width: 60%;
        height: 8px;
        border-radius: 3px;
        background-color: $red;
      }

      & h4 {
        color: #a6a6a6;
        font-size: 0.8125rem;
      }

      & h4:last-child {
        margin-right: 11px;
      }
    }

    &-brand {
      margin-top: 36px;
      padding-bottom: 35px;

      & h3 {
        margin-bottom: 48px;
      }

      &-checkboxes {
        height: 240px;
        width: 360px;
        overflow-y: auto;
        padding-right: 20px;

        & input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
        }

        &:hover input ~ .checkmark {
          background-color: #ccc;
        }

        & input:checked ~ .checkmark {
          background-color: #6eb2fb;
        }

        & .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        & input:checked ~ .checkmark:after {
          display: block;
        }

        & .checkmark:after {
          left: 11px;
          top: 5px;
          width: 10px;
          height: 20px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        & .checkmark {
          position: absolute;
          top: 5px;
          left: 1px;
          height: 34px;
          width: 30px;
          border-radius: 9px;
          background-color: #eee;
        }
      }

      & .form-check-label {
        margin-left: 9px;
        line-height: 1.6;
        letter-spacing: 1px;
      }

      & .form-check {
        color: #2e2e2e;
        font-size: 30px;
        font-weight: 300;
      }
    }
  }

  &-confirm {
    border-top: 2px solid #eceaea;
    padding: 26px 61px 46px 40px;

    &-button {
      background-color: $red;
      color: #fff;
      font-family: $font-montserrat;
      font-weight: bold;
      font-size: 0.78125rem;
      border: none;
      height: 70px;
      width: 180px;
      border-radius: 50px;
      cursor: pointer;
      transition: background-color .4s ease-in-out;

      &:hover {
        background-color: #e41748;
      }
    }

    &-clear {
      margin-bottom: -2px;
      color: $red;
      cursor: pointer;

      &-label {
        font-size: 0.78125rem;
      }

      & .clear-all {
        margin-right: 9px;
        font-size: 0.6875rem;

      }
    }
  }
}