$font-montserrat: 'Montserrat', sans-serif;
$font-open-sans: 'OpenSans', sans-serif;

.product {
  margin-top: 45px;

  @media screen and (min-width: 992px) {
    margin-top: 0;
  }

  &-card {
    padding: 20px;
    border: 1px solid #e4e9f0;
    margin-bottom: 45px;
    position: relative;
    background: #fff;
    transition: .4s box-shadow ease-out;
    z-index: 1;
    height: 675px;
    width: 100%;

    &:hover {
      box-shadow: 0 0 20px rgba(33, 33, 33, .3);
    }

    &-img {
      position: relative;
      text-align: center;
      overflow: hidden;
      height: 60%;

      img {
        width: auto;
        height: 376px;
        padding-top: 15px;
      }

      @media screen and (min-width: 769px) and (max-width: 992px) {
        img {
          width: auto;
          height: 250px;
        }
      }

      @media screen and (min-width: 993px) and (max-width: 1200px) {
        img {
          width: auto;
          height: 250px;
        }
      }

      @media screen and (min-width: 1201px) and (max-width: 1350px) {
        img {
          width: auto;
          height: 240px;
        }
      }
      @media screen and (min-width: 1351px) {
        img {
          width: auto;
          height: 376px;
        }
      }
    }

    &-from-title {
      font-size: 1rem;
      font-weight: 700;
      padding-top: 41px;
      padding-bottom: 34px;
      text-align: center;
      font-family: $font-montserrat;
    }

    &-content {
      font-family: $font-montserrat;
      color: #f6305f;
      font-size: 1rem;
      font-weight: bold;

      &-price {
        padding-top: 10px;
      }
    }

    &-title {
      font-size: 0.9375rem;
      font-weight: bold;
      padding-top: 52px;
      padding-bottom: 35px;
      text-align: center;
      letter-spacing: 1px;
      font-family: $font-montserrat;

      &-top {
        padding-bottom: 24px;
      }

      & p {
        margin-bottom: 0;
      }
    }

    &-price {
      font-family: $font-open-sans;
      padding-top: 5px;
      padding-bottom: 19px;
      font-size: 1rem;
      text-align: center;
      font-weight: 300;
      color: #999595;
    }

    &-info {
      font-family: $font-montserrat;
      background: #fff;
      position: absolute;
      z-index: 2;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: .4s opacity ease-out;
      text-align: center;

      &-select {
        width: 164px;
        height: 68px;
        padding: 10px;
        border-radius: 100px;
        background-color: #fff;
        border: 1px solid #e1e1e1;
        margin-right: 15px;
      }

      &-wishlist {
        padding-top: 42px;
        vertical-align: middle;

        & i {
          color: #f6305f;
          font-size: 1.125rem;
        }

        & span {
          font-size: 0.75rem;
        }
      }

      &-inputs {
        padding-top: 38px;
      }

      &-content {
        color: #f6305f;
        font-size: 35px;
        padding-top: 312px;
        padding-bottom: 77px;
      }

      &:hover {
        opacity: 0.9;
      }

      &-title {
        margin-bottom: 94px;
        font-size: 1rem;
        font-weight: bold;
        padding-top: 115px;
        text-align: center;

        & p {
          margin-bottom: 30px;
        }

        & a {
          color: #000000a6;

          &:hover {
            color: #000000a6;
          }
        }
      }

      &-price {
        font-size: 1.5rem;
        text-align: center;

        & span {
          font-weight: 900;
          color: #f6305f;
        }

        &-old {
          font-size: 0.5rem;
          font-weight: normal;
          text-decoration: line-through;
          color: #999595;
        }
      }
    }
  }
}

