@import url('https://fonts.googleapis.com/css?family=Basic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$font-stack: -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
$body-bg: #f7f7f7;
$grid-gutter-width: 40px;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 1024px,
        lg: 1400px,
        xl: 1900px
);

$red: #f62f5e;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

html {
  font-size: 32px;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

@font-face {
  font-style: normal;
  font-weight: 700;
}

.responsive-photo {
  width: 100%;
  height: auto;

}

.header {
  font-family: $font-montserrat;
  font-weight: 700;
  &-nav-wrap {
    padding: 0;
  }
  a:hover {
    text-decoration: none;
    color: initial;
  }
}

.entrance {
  font-weight: 900;
  margin-bottom: 0;
  &-sign-in, &-register {
    color: $red;
  }
}

.top-line {
  padding: 0 62px;
  &-badge {
    border-radius: 50%;
    z-index: 2;
    padding: 12px 19px;
    font-family: $font-montserrat;
    position: absolute;
    top: -17px;
    left: 20px;
  }
  &-menu {
    &-badge{
      color: $red;
      background-color: #fff;
    }
  }

  &-wrap {
    color: #2e2e2e;
    font-size: 30px;
    min-height: 98px;
    align-items: center;
    @media screen and (max-width: 1897px){
      & {
        font-size: 25px;
      }
    }
    @media screen and (max-width: 1687px){
      & {
        font-size: 20px;
      }
    }
  }
}

body {
  font-family: $font-stack;
}


.top-middle-nav {
  &__link {
    color: #2e2e2e;
    font-weight: bold;
    margin-right: 52px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.right-box {
  &__bag {
    padding-right: 15px;
    &-text {
      margin-bottom: 0;
      font-family: $font-montserrat;
      color: #2e2e2e;
      position: relative;
      margin-top: 12px;
      .fa-shopping-bag {
        font-size: 34px;
        margin-right: 36px;
      }
    }
  }
  &__country {
    padding: 0;
    a {
      font-family: $font-montserrat;
      color: #2e2e2e;
    }
  }
}

.navbar {
  min-height: 144px;
  background: #2e2e2e;
  padding: 0 62px;
  text-transform: uppercase;
  &-brand {
    color: $red !important;
    font-size: 48px;
    letter-spacing: 8px;
    padding: 0;
    margin-right: 27px;
    height: 144px;
    align-items: center;
    display: flex;
    @media screen and (max-width: 1897px){
      & {
        font-size: 40px;
      }
    }
  }
  &-toggler {
    border: none;
  }
  &-nav {
    @media screen and (max-width: 1400px) {
      & {
        padding-bottom: 30px;
    }
  }
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(246, 47, 94)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light.navbar-toggler {
  border-color: rgb(246, 47, 94);
}

.nav-link {
  color: #fff !important;
  text-transform: capitalize;
  font-size: 27px;
  letter-spacing: 3px;
  padding: 0 !important;
}

.nav-item {
  padding-top: 12px;
}

.content {
  margin-top: 45px;
}

.btn {
  &-search {
    border: none;
    color: #fff;
    font-size: 30px;
    padding: 0;
  }

  &-wipe {
    background: none;
    border: none;
    padding: 0;

    .fa-times {
      color: #fff;
    }
  }
}

.input-menu {
  width: calc(100% - 114px) !important;
  padding: 0;
  background: none !important;
  outline: none;
  color: #fff !important;
  font-size: 30px;
  border: none;
}

.input-menu::placeholder {
  color: #fff;
}

.content {
  margin-top: 45px;

  @media screen and (min-width: 1400px) {
    font-size: 32px;
    padding-right: 40px;
    padding-left: 40px;
  }
}


.form {
  &-menu {
    padding-right: 19px;
    padding-left: 34px;
  }

  &-header {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 45px;
    height: 69px;
    margin-top: 5px !important;
    justify-content: space-between;
    padding: 0 34px;
  }
}

.bag-menu {
  padding: 0;

  &-right {
    .fa-shopping-bag {
      color: #fff;
    }
  }
}

.mens-wear {
  padding: 48px 62px 0;
  &-wrap {
    background: url("../img/top-bg-mens.jpg") no-repeat center center;
    background-size: cover;
    height: 672px;
    width: auto;

    @media screen and (min-width: 993px) and (max-width: 1200px) {
      & {
        height: 312px;
      }
    }
    @media screen and (min-width: 1201px) and (max-width: 1400px) {
      & {
        height: 384px;
      }
    }
    @media screen and (min-width: 1401px) and (max-width: 1600px) {
      & {
        height: 458px;
      }
    }
    @media screen and (min-width: 1601px) and (max-width: 1800px) {
      & {
        height: 528px;
      }
    }
  }
}

.top-middle-nav-wrap {
  width: 100%;
}

.bottom-banner {
  padding-top: 0;
  &-converse {
    background: url("../img/bottom-converse.jpg") no-repeat center center;
    background-size: cover;
    height: 624px;
    @media screen and (min-width: 1024px) and (max-width: 1296px) {
      & {
        height: 299px;
      }
    }
    @media screen and (min-width: 1297px) and (max-width: 1400px) {
      & {
        height: 389px;
      }
    }
    @media screen and (min-width: 1401px) and (max-width: 1600px) {
      & {
        height: 423px;
      }
    }
    @media screen and (min-width: 1601px) and (max-width: 1800px) {
      & {
        height: 490px;
      }
    }
  }
}

.subscribe {
  background-color: #efefef;
  padding: 0 42px 20px;
  margin-top: 48px;
  min-height: 144px;
  align-items: center;
  &-form {
    background: #fff;
    border-radius: 50px;
    border: 2px solid #e1e1e1;
    margin-left: -57px;
    padding: 11px 0 0 36px;
    width: 100%;
    max-width: 616px;
    margin-right: 16px;
    @media screen and (min-width: 1024px){
      & {
        margin-left: 0;
      }
    }
    @media screen and (min-width: 1900px){
      & {
        margin-left: -57px;
      }
    }
    &-icon {
      font-size: 37px;
    }
    &-input {
      border: none;
      background: none;
      &::placeholder {
        padding-left: 15px;
        font-weight: bold;
        font-size: 28px;
        color: #bababa;
      }
      &:focus {
        outline: none;
      }
    }
    &-btn {
      background: $red;
      border: none;
      max-width: 182px;
      width: 100%;
      border-radius: 40px;
      height: 70px;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      &:focus {
        outline: none;
      }
    }
  }
  &-box {
    padding-top: 16px;
    &-text {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: bold;
      line-height: 1.5;
      @media screen and (min-width: 1024px){
        & {
          text-align: center;
          margin-bottom: 20px;
        }
      }
      @media screen and (min-width: 1900px){
        & {
          text-align: left;
          margin-bottom: 0;
        }
      }
    }
  }
  &-right-box {
    padding-left: 0;
  }
  @media screen and(min-width: 1900px) {
    & {
      padding-bottom: 0;
    }
  }
}

.pagination {
  color: #2e2e2e;
  padding: 35px 0 85px;
  a {
    color: #2e2e2e;
    font-weight: bold;
  }
  &-number-page {
    max-width: 118px;
    width: 100%;
    height: 72px;
    border-radius: 3px;
    background: #fff;
    border: 2px solid #e1e1e1;
    text-align: center;
    line-height: 72px;
    margin: 0 18px 0 22px;
    padding-left: 8px;
  }
  &-page {
    margin-bottom: 0;
  }
  &-nav-box {
    max-width: 72px;
    width: 100%;
    height: 72px;
    border-radius: 50%;
    background: #efefef;
    text-align: center;
    line-height: 72px;
  }
}

.previous-page {
  margin: 0 16px 0 21px;
}

.arrow {
  &-bottom {
    transform: rotate(90deg);
    font-size: 23px;
    margin-left: 20px;
  }
  &-left {
    transform: rotate(-180deg);
  }
}

.footer {
  background: #fff;
  &-menu {
    max-width: 1443px;
    width: 100%;
    padding: 0;
    margin-bottom: 62px;
  }
  &-icon {
    max-width: 440px;
    width: 100%;
    .instagram:hover {
      color: #517fa4;
    }
    .pinterest:hover {
      color: #cb2027;
    }
    .twitter:hover {
      color: #00aced;
    }
    .facebook:hover {
      color: #3b5998;
    }
    .item-link {
      max-width: 80px;
      height: 80px;
      width: 100%;
      background: #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 80px;
      color: #2e2e2e;
      &-icon {
        font-size: 33px;
        transition: all ease-in-out .1s;
      }
    }
  }
  &-full-size {
    background: #2e2e2e;
    padding: 95px 0 88px;
  }
  &-mobile {
    padding: 117px 0 146px 24px;
  }
}

.footer-menu-item {
  &-link {
    text-transform: capitalize;
    color: #fff;
    font-weight: bold;
    font-size: 46px;
    &:hover {
      color: #fff;
    }
  }
}

.copyright {
  color: #6c6c6c;
  margin: 49px 0 0;
  .fa-circle {
    font-size: 10px;
    margin: 0 13px;
  }
  &-mobile {
    margin-top: 85px;
  }
}

.grid-box {
  &-headline {
    color: #2e2e2e;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 28px;
  }
  &-content {

  }
}

.follow-us {
  margin-top: 80px;
}

.content-link {
  display: block;
  color: #2e2e2e;
}

.options-page{
  width: 120px;
}





@import "./menu-left";
@import "./product-card";
